<html>
    <head>
        <title>Checkout | Stripe Example</title>
        <style>
            body {
                font-family: 'arial';
            }
            #checkout-form input,
            #checkout-form button {
                display: block;
                margin: 12px;
            }
        </style>
    </head>
    <body>
        <label>Price: <span>${model.price}</span></label>
        <form action="charge" method="POST">
            <input type="hidden" value="${model.amount}" name="amount" />
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="${model.stripeKey}"
                    data-amount="${model.amount}"
                    data-name="Example Checkout"
                    data-description="Example Charge"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto">
            </script>
        </form>
    </body>
</html>
